:root {
  --ratio: 1.414;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s6: calc(var(--s5) * var(--ratio));
  --font-size-base: var(--s0);
  --font-size-small: var(--s-1);
  --font-size-medium: var(--s3);
  --font-size-large: var(--s5);
  --color-main: #618985;
  --color-light: #96bbbb;
  --color-dark: #4d5357;
  --color-yellow: #f2e3bc;
  --color-brown: #c19875;
  --border-radius: var(--s-3);
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Fira Mono', monospace;
  line-height: var(--ratio);
}

body {
  background: linear-gradient(0deg, var(--color-main) 0%, var(--color-light) 100%);
  color: #fff;
  font-size: 100%;
}

@media screen and (min-width: 600px) {
  body {
    font-size: 110%;
  }
}

h1 {
  font-family: 'Glass Antiqua', cursive;
  font-size: var(--font-size-medium);
  font-weight: normal;
  line-height: 1;
  margin-bottom: var(--s1);
  margin-top: var(--s3);
  transform: rotate(-3deg);
  text-transform: lowercase;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: var(--font-size-large);
    margin-bottom: var(--s2);
    margin-top: var(--s4);
  }
}

h2,
h3 {
  font-size: var(--font-size-base);
  font-weight: 700;
  margin-bottom: var(--s-2);
  margin-top: var(--s2);
}

@media screen and (min-width: 600px) {
  h2,
  h3 {
    margin-top: var(--s3);
  }
}

p {
  margin: 0;
}

a {
  color: #fff;
}

main section {
  margin-bottom: var(--s3);
}

@media screen and (min-width: 600px) {
  main section {
    margin-bottom: var(--s5);
  }
}

i {
  color: #fff;
  font-style: normal;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

b {
  font-weight: 700;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  flex: 1;
  margin: 0 auto;
  max-width: 60ch;
  padding: 0 var(--s1);
  width: 100%;
}

.box {
  border-radius: var(--border-radius);
  background-color: var(--color-dark);
  margin: var(--s0) calc(var(--s0) * -1);
  padding: var(--s0);
}

@media screen and (min-width: 600px) {
  .box {
    margin: var(--s1) calc(var(--s0) * -1);
  }
}

.box h2,
.box h3 {
  margin: 0;
}

.box p {
  color: var(--color-yellow);
}

.tags {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.tags li {
  margin-bottom: var(--s0);
  margin-right: var(--s0);
  padding: 0;
}

.contact {
  margin: var(--s1) 0 0;
}

.contact li {
  display: inline-block;
  font-weight: 700;
  margin-bottom: var(--s-1);
  margin-right: var(--s-1);
}

.contact li a {
  background-color: var(--color-main);
  color: var(--color-yellow);
  border-radius: var(--border-radius);
  display: inline-block;
  padding: var(--s0);
  text-decoration: none;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.contact li a:hover {
  background-color: var(--color-dark);
}

@media screen and (min-width: 600px) {
  .contact li {
    margin-bottom: 0;
    margin-right: var(--s1);
  }
  .contact li a {
    padding: var(--s1);
  }
}

.bar {
  align-items: center;
  display: flex;
  width: 100%;
}

.bar div {
  flex: 1;
  height: var(--s-2);
}

.bg-light {
  background-color: var(--color-light);
}

.bg-main {
  background-color: var(--color-main);
}

.bg-dark {
  background-color: var(--color-dark);
}

.bg-yellow {
  background-color: var(--color-yellow);
}

.bg-brown {
  background-color: var(--color-brown);
}

.has-cursor::after {
  animation-name: pulse;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: #fff;
  content: "";
  display: inline-block;
  margin-left: 1ch;
  height: 1.4ex;
  width: 1ch;
}

.browserupgrade {
  align-items: center;
  background: #618985;
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

.browserupgrade > * {
  max-width: 60ch;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .browserupgrade {
    display: flex;
  }
}

::-moz-selection {
    background: var(--color-light);
    text-shadow: none;
}

::selection {
    background: var(--color-light);
    text-shadow: none;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
